@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body { font-family: 'Droid Serif'; }
h1, h2, h3, h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-slide-content { font-size: 1.6em; }
.remark-slide-content h1 { font-size: 2.4em; }
.remark-slide-content h2 { font-size: 2.0em; }
.remark-slide-content h3 { font-size: 1.6em; }
.remark-slide-content h4 { font-size: 1.2em; }
.remark-code { font-size: 0.977em; }
.remark-slide-number { font-size: 0.8em; }
.remark-slide-content ul { line-height: 1.4em; }
.remark-inline-code {
  background-color: #eee;
}
.small { font-size: 0.7em; }
.columns-3-ul ul { columns: 3; }
.left-column {float:left}
.right-column {float:right}
img { max-width: 100%; }
blockquote {
  font-style: italic;
  color: #777;
}
